label{
    color:rgb(61, 61, 61);
    font-weight: 700;
}

/* .container{

} */

.form{
    display: grid;
    grid-gap: 50px;
    grid-template-areas: 's1 s1 s1 s1 s1 s1'
                          'i2 i2 s1 s1 s2 s2 '
                          'i2 i2 i1 i1 i1 i1 '
                          'i2 i2 i2 i2 i1 i1'  
    ;
    justify-content: space-around;
    align-content: space-evenly;
    border-top: darkgrey 1px solid;                           
}
.select1{
    border: darkred 1px solid;
grid-area: s1;
}
.select2{
    border: darkred 1px solid;

    grid-area: s2;
}
.input1{

    border: darkred 1px solid;
    grid-area: i1;
}
.input2{

    border: darkred 1px solid;
    grid-area: i2;
}